.button {
    display: inline-block;
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #00C470;

    font-weight: 800;
    font-size: 14px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform:uppercase;
    color:#FFFFFF;

    border-radius: 30px;
    border:none;
    transition: 0.2s;

    cursor: pointer;

    &:hover {
        background-color: #078f54;
    }
    
   &:focus {
        outline: none;
        background-color: #056139;
    }
}

